{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/chats.css' %}">

</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="header">
                <h4>Chatbot</h4>
            </div>
            <div class="chat-history" id="chat-history">
            </div>
            <div class="user-input" id="user-input">
                <input type="text" placeholder="Type your message...">
                <button class="send-btn">Send</button>
            </div>
            <div class="options" id="options">
                <button class="option-btn" id="getstarted-btn">Start Convo</button>
                <button class="option-btn" id="end-btn">End Convo</button>
                <button class="option-btn" id="help-btn">Logout</button>
                <button class="option-btn" id="help-btn">Chat-history</button>
            </div>

        </div>
    </div>




    <!-- SCRIPTS -->
    <script src="{% static 'js/chats.js' %}"></script>

</body>

</html>